<ion-popover-view dir="{{$root.settings.languages[$root.user.settings.language].direction}}">
    <ion-header-bar align-title="center" class="bar bar-dark">
        <h1 class="title">{{'QUESTIONS_SOURCE' | translate}}</h1>
    </ion-header-bar>
    <ion-content>
        <ion-radio ng-repeat="questionSource in contestQuestionSources track by questionSource.value"
                   ng-model="localViewData.questionsSource"
                   ng-change="closeQuestionsSourcePopover(questionSource)"
                   ng-value="questionSource.value">
            <span>{{questionSource.displayName}}</span>
        </ion-radio>
    </ion-content>
</ion-popover-view>