<ion-popover-view>
    <ion-header-bar align-title="center">
        <h1 class="title">{{'CHOOSE_LANGUAGE' | translate}}</h1>
    </ion-header-bar>
    <ion-content dir="{{$root.languages[$root.user.settings.language].direction}}">
        <ion-radio ng-repeat="language in $root.languages track by language.value"
                   ng-model="localViewData.language"
                   ng-change="closeLanguagePopover(language)"
                   ng-value="language.value">
            <img style="border: 1px solid" ng-src="{{language.flag}}" width="20" height="12">
            <span>{{language.displayNames[$root.user.settings.language]}}</span>
        </ion-radio>
    </ion-content>
</ion-popover-view>