<ion-view title="{{'CONTEST_LEADERS' | translate}}">
    <ion-nav-bar class="bar-stable bar-dark" align-title="center"
                 dir="{{$root.settings.languages[$root.user.settings.language].direction}}">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <!------------------------------------------------------------------------------>
    <!-- This is a workaround - when navigating to other views, forcing the back
    <!-- button to show the previous view title only from the ion-nav-title
    <!------------------------------------------------------------------------------>
    <ion-content dir="{{$root.settings.languages[$root.user.settings.language].direction}}">

        <div class="center button-bar padding">
            <button class="button button-assertive button-small small-font" translate="CONTEST_LEADERS_GENERAL_SCORING" ng-click="selectLeaderboard('all')" ng-class="{'round-button-left' : $root.settings.languages[$root.user.settings.language].direction==='ltr', 'round-button-right' : $root.settings.languages[$root.user.settings.language].direction==='rtl', 'button-outline' : !leaderboards.all.selected}">
            </button>
            <button class="button button-assertive button-outline button-small small-font thick-border" ng-click="selectLeaderboard('team0')" ng-class="{'button-outline' : !leaderboards.team0.selected}">{{contest.teams[0].name}}
            </button>
            <button class="button button-assertive button-outline button-small small-font" translate="WEEKLY" ng-click="selectLeaderboard('team1')" ng-class="{'round-button-left' : $root.settings.languages[$root.user.settings.language].direction==='rtl', 'round-button-right' : $root.settings.languages[$root.user.settings.language].direction==='ltr', 'button-outline' : !leaderboards.team1.selected}">{{contest.teams[1].name}}
            </button>
        </div>

        <div ng-include="'templates/leaders.html'">

        </div>

    </ion-content>

</ion-view>

