<ion-modal-view>
    <ion-header-bar class="bar-stable bar-dark" align-title="center" dir="{{$root.settings.languages[$root.user.settings.language].direction}}">
        <h1 class="title">{{'SELECT_CONTEST_TYPE' | translate}}</h1>
        <div class="button button-clear" ng-click="closeContestTypeModal()">
            <span class="icon ion-close"></span>
        </div>
    </ion-header-bar>
    <ion-content class="padding" dir="{{$root.settings.languages[$root.user.settings.language].direction}}">

        <div class="list">

            <a class="item item-thumbnail-{{$root.settings.languages[$root.user.settings.language].align}}" ng-click="selectContestType('system')">
                <img src="images/facebook/contest.png">
                <h2>{{'CONTEST_TYPE_SYSTEM_TITLE' | translate}}</h2>
                <p>{{'CONTEST_TYPE_SYSTEM_DESCRIPTION' | translate : {questions : $root.settings.newContest.systemTotalQuestions} }}</p>
            </a>

            <a class="item item-thumbnail-{{$root.settings.languages[$root.user.settings.language].align}}" ng-click="selectContestType('user')">
                <img src="../images/facebook/winner2.jpg">
                <h2>{{'CONTEST_TYPE_USER_TITLE' | translate}}</h2>
                <p>{{'CONTEST_TYPE_USER_DESCRIPTION' | translate : {min: $root.settings.newContest.privateQuestions.min, max: $root.settings.newContest.privateQuestions.max} }}</p>
            </a>

        </div>
    </ion-content>
</ion-modal-view>
