<ion-view class="bgQuestionMarks" title="{{title | translate}}">

    <ion-header ng-if="tab==='recentlyFinished'" ng-include="'templates/roundTabs.html'">
    </ion-header>

    <ion-content dir="{{$root.settings.languages[$root.user.settings.language].direction}}"
                 overflow-scroll="true" class="hide-vertical-scrollbar has-subheader">

        <h4 class="padding center" ng-if="userClick && totalContests === 0">{{'JOIN_A_CONTEST_MESSAGE' |
            translate}}</h4>

        <ion-scroll class="scroll-full-height">

            <ion-refresher dir="{{$root.settings.languages[$root.user.settings.language].direction}}"
                           pulling-text="{{'PULL_TO_REFRESH'  | translate}}" pulling-icon="on-android-arrow-down"
                           on-refresh="doRefresh()">
            </ion-refresher>
            <ion-list ng-repeat="contestChart in contestCharts track by contestChart.contest._id">
                <div class="full-width">
                    <div class="contest-leader-wrapper pointer" style="width: {{$root.settings.charts.size.width}}px;" dir="{{$root.settings.languages[$root.user.settings.language].oppositeDirection}}">
                        <image class="avatar-leader contests-avatar-leader"
                               ng-class="{'contests-avatar-leader-ltr' : $root.settings.languages[$root.user.settings.language].direction === 'ltr', 'contests-avatar-leader-rtl' :  $root.settings.languages[$root.user.settings.language].direction === 'rtl'}"
                               ng-src="{{contestChart.contest.leader.avatar}}"
                               ng-click="$root.gotoView('app.contest', false, {id : contestChart.contest._id})"
                               title="{{'CONTEST_LEADER_WITH_NAME' | translate:{name: contestChart.contest.leader.name} }}"
                               analytics-on="click" analytics-event="contestList/leaderClick">
                        </image>
                    </div>
                    <div fusioncharts class="chart pointer" title="{{contestChart.contest.name}}"
                         type="column2d"
                         dataSource="{{contestChart}}"
                         events="fcEvents"
                         width="{{$root.settings.charts.size.width}}"
                         height="{{$root.settings.charts.size.height}}"
                         style="width: {{$root.settings.charts.size.width}}px; height: {{$root.settings.charts.size.height}}px;">
                    </div>
                </div>

            </ion-list>
        </ion-scroll>
        <ion-infinite-scroll
                on-infinite="infiniteLoadMoreContests()"
                distance="{{$root.settings.contestList.distance}}"
                ng-if="haveMoreContests()"
                icon="ion-loading-c"
                immediate-check="false">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>