<ion-view class="bgQuestionMarks" title="{{'WHO_IS_SMARTER_QUESTION' | translate}}">

    <!------------------------------------------------------------------------------>
    <!-- This is a workaround - when navigating to other views, forcing the back
    <!-- button to show the previous view title only from the ion-nav-title
    <!------------------------------------------------------------------------------>
    <ion-content dir="{{$root.languages[$root.user.settings.language].direction}}"
                 overflow-scroll="true" class="hide-vertical-scrollbar">
        <ion-scroll class="contests-scroll">
            <ion-refresher dir="{{$root.settings.languages[$root.user.settings.language].direction}}"
                           pulling-text="{{'PULL_TO_REFRESH'  | translate}}" pulling-icon="on-android-arrow-down"
                           on-refresh="doRefresh()">
            </ion-refresher>
            <ion-list ng-repeat="contestChart in contestCharts track by contestChart.contest._id">
                <div class="padding center">
                    <div fusioncharts
                         type="column2d"
                         dataSource="{{contestChart}}"
                         events="fcEvents"
                         width="{{$root.settings.charts.size.width}}"
                         height="{{$root.settings.charts.size.height}}">
                    </div>
                    <div class="padding center">
                        <button class="item button button-stable button-small nowrapText button-3d button-3d-assertive"
                                ng-show="showPlay()" ng-click="playContest(contestChart.contest)">{{'PLAY_CONTEST' |
                            translate}}
                        </button>
                        <button class="item button button-stable button-small nowrapText button-3d button-3d-assertive"
                                ng-show="showContestParticipants()" ng-click="showParticipants(contestChart.contest)">
                            {{'PARTICIPANTS' | translate}}
                        </button>
                    </div>
                </div>
                <div class="center">
                    <image ng-class="{'contests-avatar-leader-ltr' : $root.settings.languages[$root.user.settings.language].direction === 'ltr', 'contests-avatar-leader-rtl' :  $root.settings.languages[$root.user.settings.language].direction === 'rtl'}"
                           ng-src="{{contestChart.contest.leaderAvatar}}" title="{{'CONTEST_LEADER' | translate}}"></image>
                </div>

            </ion-list>
        </ion-scroll>
        <ion-infinite-scroll
                on-infinite="infiniteLoadMoreContests()"
                distance="{{$root.settings.contestList.distance}}"
                ng-if="haveMoreContests()"
                icon="ion-loading-c"
                immediate-check="false">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>