<ion-view view-title="{{ 'WHO_IS_SMARTER_QUESTION' | translate}}" class="bgQuestionMarks">

    <ion-content dir="{{$root.settings.languages[$root.session.settings.language].direction}}">

        <div class="full-width">
            <div class="row padding center">
                <div class="center item item-divider leader-avatar-in-leaderboard" style="margin: 0px auto;"
                     ng-class="{'item-avatar-left' : $root.settings.languages[$root.user.settings.language].direction === 'ltr','item-avatar-right' : $root.settings.languages[$root.user.settings.language].direction === 'rtl'}">
                    <image class="leader-avatar-in-leaderboard" ng-src="{{contestChart.contest.leader.avatar}}"></image>
                    <div style="text-align: {{$root.settings.languages[$root.user.settings.language].align}}">
                        <h2>{{contestChart.contest.leader.name}}</h2>

                        <p>{{'CONTEST_LEADER' | translate}}</p>
                    </div>
                </div>
            </div>

            <div class="chart"
                 fusioncharts
                 width="{{$root.settings.charts.size.width}}"
                 height="{{$root.settings.charts.size.height}}"
                 type="column2d"
                 dataSource="{{contestChart}}"
                 events="fcEvents"
                 style="width: {{$root.settings.charts.size.width}}px; height: {{$root.settings.charts.size.height}}px;">
            </div>
        </div>

        <div class="padding center">

            <div class="animate-switch-container" ng-switch on="buttonState">
                <div class="animate-switch" ng-switch-when="play">
                    <button
                            class="item button button-stable button-small nowrapText button-3d button-3d-assertive"
                            ng-click="playContest()">{{'PLAY_CONTEST' |
                        translate}}
                    </button>
                </div>
                <div class="animate-switch" ng-switch-when="join">
                    <button style="width: {{$root.settings.charts.size.width / 2}}px;"
                            class="item button button-stable button-small small-font nowrapText button-3d button-3d-assertive"
                            ng-click="joinContest(0,'button')">{{'JOIN_TEAM' | translate:{team :
                        contestChart.contest.teams[0].name} }}
                    </button>
                    <button style="width: {{$root.settings.charts.size.width / 2}}px;"
                            class="item button button-stable button-small small-font nowrapText button-3d button-3d-assertive"
                            ng-click="joinContest(1,'button')">{{'JOIN_TEAM' | translate:{team :
                        contestChart.contest.teams[1].name} }}
                    </button>
                </div>
            </div>

        </div>

    </ion-content>

</ion-view>
