<ion-view hide-nav-bar="true" class="bgHome">
    <ion-content dir="{{$root.settings.languages[$root.user.settings.language].direction}}">
        <div class="center">
            <h2 class="gameHeader" translate="WHO_IS_SMARTER_QUESTION"></h2>
            <h4 class="gameSubHeader" translate="HOME_WELCOME_PLAY_TRIVIA"></h4>
        </div>

        <div class="padding center">
            <img id="demoContestImage" src="images/demo_contest_{{$root.user.settings.language}}.png" width="90%">
        </div>

        <div class="row">
            <div class="col text-center">
                <button class="center button button-block button-facebook"
                        analytics-on="click"
                        analytics-event="home/facebookLogin"
                        analytics-properties="{'category': 'login' }" ng-click="facebookConnect()">
                    {{'FACEBOOK_CONNECT' | translate}}
                </button>
            </div>
        </div>

        <div class="center">
            <span class="center" translate="FACEBOOK_CONNECT_RELAX_MESSAGE"></span>
        </div>

    </ion-content>

    <ion-footer-bar align="center" class="center padding" ng-hide="$root.session" align-title="center" dir="{{$root.settings.languages[$root.user.settings.language].direction}}">
        <a
                class="language padding"
                ng-repeat="language in $root.settings.languages track by language.value"
                ng-click="changeLanguage(language)"
                analytics-on="click"
                analytics-event="home/changeLanguage"
                analytics-properties="{'language': '{{language.value}}' }" >{{language.displayNames[language.value]}}"
        </a>
    </ion-footer-bar>

</ion-view>