<ion-view>
    <ion-pane ion-side-menu-content drag-content="false">
        <ion-content class="padding" dir="{{$root.languages[$root.user.settings.language].direction}}">
            <p class="padding" translate="HOME_WELCOME_TEXT1">

            <p>

            <p class="padding" translate="HOME_WELCOME_TEXT2">

            <p>

            <div class="padding">
                <button class="button button-facebook button-full" ng-click="facebookConnect()">
                    Login with Facebook
                </button>
            </div>
        </ion-content>
</ion-view>