<ion-modal-view>
    <ion-header-bar class=  "bar-stable bar-assertive" align-title="center" dir="{{$root.settings.languages[$root.user.settings.language].direction}}">
        <h1 class="title">{{'NEW_RANK_TITLE' | translate}}</h1>
    </ion-header-bar>
    <ion-content class="padding center" dir="{{$root.settings.languages[$root.user.settings.language].direction}}">
        <img class="padding" src="images/new_rank.png">
        <h2 class="padding">{{'NEW_RANK_MESSAGE' | translate:{rank : $root.session.rank} }}</h2>
        <h4 class="padding" ng-show="xpProgress.unlockFeatureMessage">{{xpProgress.unlockFeatureMessage | translate}}</h4>

        <button class="padding button button-stable button-positive" translate="OK" ng-click="closeNewRankModal()">
        </button>

    </ion-content>
</ion-modal-view>
