<ion-nav-bar class="bar-stable" ng-hide="!$root.isLoggedOn">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-view class="padding" view-title="{{ 'PICK_A_SUBJECT' | translate }}"
    <ion-content dir="{{$root.user.direction}}">
        <div class="list card padding">
            <a
                    ng-repeat="subject in subjects" class="item item-icon-left"
                    ng-click="play(subject.subjectId)"
                    ng-bind-html="subject.displayNames[$root.user.settings.interfaceLanguage]">
            </a>
        </div>
    </ion-content>
</ion-view>
