<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-dark bar-stable">
        <h1 class="title">{{'QUESTION_STATS_TITLE' | translate}}</h1>
    </ion-header-bar>
    <ion-content class="padding center" dir="{{$root.settings.languages[$root.user.settings.language].direction}}">

        <div class="center padding" ng-if="questionChart">
            <div fusioncharts
                 type="pie2d"
                 dataSource="{{questionChart}}"
                 width="320"
                 height="320">
            </div>
        </div>

        <div class="button-bar padding">
            <button class="padding button button-positive button-3d item-text-wrap" translate="OK"
                    ng-click="closeQuestionStatsModal()">
            </button>
        </div>

    </ion-content>
</ion-modal-view>