<ion-view view-title="{{ 'QUIZ_RESULTS' | translate}}" dir="{{$root.settings.languages[$root.session.settings.language].direction}}">
    <ion-content padding="true">
        <div class="padding center">

            <div class="padding center">
                <h3 class="padding">{{ 'SCORE' | translate}}: <strong>{{score}}</strong>
                </h3>
            </div>

            <div class="padding center">
                <a class="button button-assertive" ng-click="returnToContests()">{{ 'OK' | translate}}</a>
            </div>
        </div>
    </ion-content>
</ion-view>
