<ion-view view-title="{{ 'QUIZ' | translate}}" class="bgQuestionMarks">
    <ion-content dir="{{$root.settings.languages[$root.session.settings.language].direction}}">

        <div class="row">
            <div class="col-80" align="{{$root.settings.languages[$root.session.settings.language].align}}">
                <span>{{ 'QUESTION_INDEX' | translate:{ index : quiz.currentQuestionIndex, total : quiz.totalQuestions} }}</span>
                <span ng-show="quiz.currentQuestion.correctRatio"> {{ 'SUCCESS_RATIO' | translate:{correctRatio : quiz.currentQuestion.correctRatio} }}</span>
            </div>
            <div class="col-20" align="{{$root.settings.languages[$root.session.settings.language].oppositeAlign}}">
                <button
                        ng-class="{'ion-volume-high' :  $root.session.settings.sound == true,
                        'ion-volume-mute' : $root.session.settings.sound == false}"
                        ng-click="toggleSound()">
                </button>
            </div>
        </div>

        <div dir="{{quiz.currentQuestion.direction}}">

            <h2 class="center question-text" ng-bind-html="quiz.currentQuestion.text"></h2>

            <div class="list padding">
                <button id="buttonAnswer{{answer.id}}"
                        ng-disabled="quiz.currentQuestion.answered && answer.correct==null && answer.answeredCorrectly==null"
                        ng-repeat="answer in quiz.currentQuestion.answers track by answer.id"
                        class="item button button-full button-3d"
                        ng-class="{'button-positive' : !quiz.currentQuestion.answered,
                            'button-3d-balanced blink' : answer.answeredCorrectly == true || answer.correct == true,
                            'button-3d-assertive blink' : answer.answeredCorrectly == false && answer.correct == null,
                            'quiz-normal-answer' : !(quiz.currentQuestion.hasLongAnswers) || quiz.currentQuestion.hasLongAnswers === false,
                            'quiz-long-answer' : quiz.currentQuestion.hasLongAnswers === true}"
                        ng-click="!quiz.currentQuestion.answered && submitAnswer(answer.id)"
                        ng-bind-html="answer.text"
                        animationend="buttonAnimationEnded">
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
