<ion-view view-title="{{ 'WHO_IS_SMARTER' | translate}} - {{ 'QUIZ_RESULTS' | translate}}"
          dir="{{$root.settings.languages[$root.session.settings.language].direction}}">
    <ion-content padding="true">
        <div class="padding center">

            <div class="padding center">
                <h3>{{results.title | translate}}</h3>
            </div>

            <div class="padding center">
                <h3>{{results.message | translate:{score : results.score} }}</h3>
            </div>

            <div class="padding center"
                 fusioncharts
                 width="260"
                 height="180"
                 type="column2d"
                 dataSource="{{contestCharts[0]}}"
                 events="fcEvents">
            </div>

            <div class="padding center">
                <button class="item button button-stable button-small button-assertive button-3d button-3d-assertive nowrapText font14" ng-click="playAgain()">{{ 'PLAY_AGAIN' | translate}}</button>
                <button class="item button button-stable button-small button-assertive button-3d button-3d-assertive nowrapText font14" ng-click="$root.gotoView('app.contests.mine')">{{ 'CONTEST_LIST' | translate}}</button>
            </div>
        </div>
    </ion-content>
</ion-view>
