<ion-view view-title="Quiz">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Quiz</h1>
    </ion-header-bar>
    <ion-content padding="true">
        <h2 class="center question-text" dir="{{quiz.currentQuestion.forceDirection}}" ng-bind-html="quiz.currentQuestion.text"></h2>
        <div class="list padding">
            <button id="buttonAnswer{{answer.id}}" ng-disabled="quiz.currentQuestion.answered && answer.correct==null && answer.answeredCorrectly==null"
                    ng-repeat="answer in quiz.currentQuestion.answers" class="item button button-full quiz-answer"
                    ng-class="{'button-positive' : !quiz.currentQuestion.answered,
                                'button-balanced blink' : answer.answeredCorrectly == true || answer.correct == true,
                                'button-assertive blink' : answer.answeredCorrectly == false && answer.correct == null}",
                    ng-click="!quiz.currentQuestion.answered && submitAnswer(answer.id)"
                    ng-bind-html="answer.text" dir="{{quiz.currentQuestion.forceDirection}}">
            </button>
        </div>
        <div class="bar bar-footer bar-light">
            <span>Question # {{quiz.currentQuestionIndex}}</span>
        </div>
        <audio id="audioSound" autoplay src=""></audio>
    </ion-content>
</ion-view>
