<div class="form-error slide-right" ng-message="required">
    <i class="ion-information-circled"></i>
    This field is required!
</div>
<div class="form-error slide-right" ng-message="email">
    <i class="ion-information-circled"></i>
    wrong email format!
</div>
<div class="form-error" ng-message="serverError">
    <i class="ion-information-circled"></i>
    {{registrationForm.serverError.innerHTML}}
</div>
<div class="form-error" ng-message="minlength">
    <i class="ion-information-circled"></i>
    Minimum length of this field is 5 characters!
</div>
<div class="form-error" ng-message="maxlength">
    <i class="ion-information-circled"></i>
    Maximum length of this field is 50 characters!
</div>
<div class="form-error" ng-message="myCompareTo">
    <i class="ion-information-circled"></i>
    Passwords do not match
</div>
