<div class="form-error slide-right" ng-message="required">
    <i class="ion-information-circled"></i>
    {{ 'FIELD_REQUIRED' | translate}}
</div>
<div class="form-error slide-right" ng-message="email">
    <i class="ion-information-circled"></i>
    {{ 'WRONG_EMAIL_FORMAT' | translate}}
</div>
<div class="form-error" ng-message="serverErrorEmailAlreadyTaken">
    <i class="ion-information-circled"></i>
    {{ 'EMAIL_ALREADY_TAKEN' | translate}}
</div>
<div class="form-error" ng-message="minlength">
    <i class="ion-information-circled"></i>
    {{ 'MINIMUM_CHARACTERS' | translate:'{minimum: 5 }' }}
</div>
<div class="form-error" ng-message="maxlength">
    <i class="ion-information-circled"></i>
    {{ 'MAXIMUM_CHARACTERS' | translate:'{maximum: 5 }' }}
</div>
<div class="form-error" ng-message="myCompareTo">
    <i class="ion-information-circled"></i>
    {{ 'PASSWORDS_DO_NOT_MATCH' | translate }}
</div>
