<div ng-controller="RegisterCtrl">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Sign Up</h1>
    </ion-header-bar>
    <ion-content has-header="true" padding="true" dir="{{$root.user.direction}}">
        <form name="registrationForm" novalidate="novalidate" ng-submit="registrationForm.$valid && register(registrationForm)">
            <div class="list">

                <label class="item item-input"
                       ng-class="{ 'has-error' : registrationForm.email.$invalid && registrationForm.email.$touched, 'valid-lr' : registrationForm.email.$valid}"
                       ng-messages-include="templates/register-error-list.html">
                    <input type="email" placeholder="{{ 'EMAIL' | translate}}" name="email" ng-model="email" autofocus ng-change="fieldChange(registrationForm.email, registrationForm.serverError);"
                           ng-minlength="5" ng-maxlength="50" required email>
                </label>

                <div class="error-container last-error-container form-errors"
                     ng-show="registrationForm.email.$error && registrationForm.$submitted"
                     ng-messages="registrationForm.email.$error"
                     ng-messages-include="templates/register-error-list.html">
                </div>

                <label class="item item-input"
                       ng-class="{ 'has-error' : registrationForm.password.$invalid  && registrationForm.$submitted, 'valid-lr' : registrationForm.password.$valid  && registrationForm.$submitted}">
                    <input type="password" placeholder="{{ 'PASSWORD' | translate}}" name="password" ng-model="password" ng-change="fieldChange(registrationForm.password, registrationForm.serverError);"
                           ng-minlength="5" ng-maxlength="50" required>
                </label>

                <div class="error-container last-error-container form-errors"
                     ng-show="registrationForm.password.$error && registrationForm.$submitted"
                     ng-messages="registrationForm.password.$error"
                     ng-messages-include="templates/register-error-list.html">
                </div>

                <label class="item item-input"
                       ng-class="{ 'has-error' : registrationForm.retypedPassword.$invalid  && registrationForm.$submitted, 'valid-lr' : registrationForm.retypedPassword.$valid  && registrationForm.$submitted}">
                    <input type="password" placeholder="{{ 'CONFIRM_PASSWORD' | translate}}" name="retypedPassword"
                           ng-model="retypedPassword" ng-change="fieldChange(registrationForm.retypedPassword, registrationForm.serverError);" ng-minlength="5" ng-maxlength="50" required my-compare-to="registrationForm.password">
                </label>

                <div class="error-container last-error-container form-errors"
                     ng-show="registrationForm.retypedPassword.$error && registrationForm.$submitted"
                     ng-messages="registrationForm.retypedPassword.$error"
                     ng-messages-include="templates/register-error-list.html">
                </div>

                <input type="hidden" name="serverError" ng-model="serverError" serverError>
                <div class="error-container last-error-container form-errors"
                     ng-show="registrationForm.serverError.$error && registrationForm.$submitted"
                     ng-messages="registrationForm.serverError.$error"
                     ng-messages-include="templates/register-error-list.html">
                </div>

            </div>

            <button class="button button-full button-positive button-assertive" type="submit" translate="SIGN_UP">
            </button>

            <div class="padding">
                <span translate="ALREADY_HAVE_AN_ACCOUNT"></span>
                <a class="link" href="#/app/login" translate="SIGN_IN"></a>
            </div>

        </form>
    </ion-content>
</div>