<div class="row bar bar-subheader padding center bg-main">
    <div class="col-33">
        <button class="button button-royal button-small small-font bold full-width"
                translate="RECENTLY_FINISHED_CONTESTS"
                ng-class="{'button-outline' : !roundTabState[0], 'round-button-left' : $root.settings.languages[$root.user.settings.language].direction==='ltr', 'round-button-right' : $root.settings.languages[$root.user.settings.language].direction==='rtl'}"
                ng-click="!roundTabState[0] && roundTabSwitch('app.tabs.recentlyFinishedContests')">
        </button>
    </div>
    <div class="col-34">
        <button class="button button-royal button-small small-font bold center-button-in-ellipse full-width"
                translate="FRIENDS"
                ng-class="{'button-outline' : !roundTabState[1]}"
                ng-click="!roundTabState[1] && roundTabSwitch('app.tabs.friendsLeaderboard')">
        </button>
    </div>
    <div class="col-33">
        <button class="button button-royal button-small small-font bold full-width"
                translate="WEEKLY"
                ng-class="{'button-outline' : !roundTabState[2], 'round-button-left' : $root.settings.languages[$root.user.settings.language].direction==='rtl', 'round-button-right' : $root.settings.languages[$root.user.settings.language].direction==='ltr'}"
                ng-click="!roundTabState[2] && roundTabSwitch('app.tabs.weeklyLeaderboard')">
        </button>
    </div>
</div>
