<ion-view view-title="{{'SETTINGS' | translate}}" hide-nav-bar="true">
    <ion-content dir="{{$root.settings.languages[$root.user.settings.language].direction}}">
        <ion-list>
            <ion-item ng-click="openLanguagePopover($event)">
                <span translate="LANGUAGE"></span>
                <br/>
                <strong>{{$root.settings.languages[localViewData.language].displayNames[$root.user.settings.language]}}</strong>
            </ion-item>
            <ion-toggle
                    ng-model="localViewData.sound"
                    toggle-class="toggle-royal">
                <i class="icon ion-music-note"></i>
                {{ 'SOUND' | translate}}
            </ion-toggle>
            <ion-item nav-clear ng-click="$root.gotoView('tab.logout')">
                {{ 'SIGN_OUT' | translate}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
