<ion-view title="{{'SYSTEM_TOOLS' | translate}}">

    <ion-content has-header="true" padding="true" class="center padding"
                 dir="{{$root.settings.languages[$root.user.settings.language].direction}}" drag-content="false">

    <button class="center padding button button-full button-positive" ng-click="clearCache()">
            {{'SYSTEM_CLEAR_CACHE' | translate}}
        </button>

        <button class="center padding button button-full button-assertive" ng-click="restartServer()">
            {{'SYSTEM_RESTART_SERVER' | translate}}
        </button>

</ion-view>