<ion-tabs class="tabs-icon-top tabs-positive" tabs-swipable dir="{{$root.settings.languages[$root.user.settings.language].direction}}">

    <!-- My contests Tab -->
    <ion-tab title="{{'MY_CONTESTS' | translate}}" icon="icon ion-star" ng-click="$root.gotoView('app.contests.mine')">
        <ion-nav-view name="myContestsTab"></ion-nav-view>
    </ion-tab>


    <!-- Running contests Tab -->
    <ion-tab title="{{'RUNNING_CONTESTS' | translate}}" icon="icon ion-loop" ng-click="$root.gotoView('app.contests.running')">
        <ion-nav-view name="runningContestsTab"></ion-nav-view>
    </ion-tab>

    <!-- Recently finished contests Tab -->
    <ion-tab title="{{'RECENTLY_FINISHED_CONTESTS' | translate}}" icon="icon ion-flag" ng-click="$root.gotoView('app.contests.recentlyFinished')">
        <ion-nav-view name="recentlyFinishedContestsTab"></ion-nav-view>
    </ion-tab>

</ion-tabs>
