<ion-view class="bgQuestionMarks" title="{{'LEADERBOARDS' | translate}}">

    <!------------------------------------------------------------------------------>
    <!-- This is a workaround - when navigating to other views, forcing the back
    <!-- button to show the previous view title only from the ion-nav-title
    <!------------------------------------------------------------------------------>
    <ion-content dir="{{$root.settings.languages[$root.user.settings.language].direction}}"
                 overflow-scroll="true" class="hide-vertical-scrollbar">

        <div ng-include="'templates/roundTabs.html'">
        </div>

        <div ng-include="'templates/leaders.html'">
        </div>

    </ion-content>

</ion-view>

