@viewport {
    orientation: portrait;
}

label.item.has-error {
    border-bottom: 2px solid red;
}

label.item.has-error-lr {
    border-left: 2px solid red;
    border-right: 2px solid red;
}

label.item.valid-lr {
    border-left: 2px solid green;
    border-right: 2px solid green;
}

.form-errors {
    margin: 5px 0
}

.form-error {
    padding: 2px 0 2px 16px;
    color: red;
}

.blink {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: step-end;
    -webkit-animation-iteration-count: 2;
    animation-name: blink;
    anmation-duration: 1s;
    animation-timing-function: step-end;
    animation-iteration-count: 2;
}

@-webkit-keyframes blink {
    50% {
        visibility: hidden
    }
    100% {
        visibility: visible;
    }
}

@keyframes blink {
    50% {
        visibility: hidden
    }
    100% {
        visibility: visible;
    }
}

.center {
    text-align: center;
}

.question-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.translate-cloak {
    display: none;
}

.ltr {
    direction: ltr;
    text-align: left;
}

.rtl {
    direction: rtl;
    text-align: right;
}

.item-radio input[type="radio"] {
    display: none;
}

.button-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2)
}

.button-facebook:hover, .button-facebook:focus, .button-facebook:active, .button-facebook.active, .open > .dropdown-toggle.button-facebook {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2)
}

.button-facebook:active, .button-facebook.active, .open > .dropdown-toggle.button-facebook {
    background-image: none
}

.button-facebook.disabled, .button-facebook[disabled], fieldset[disabled] .button-facebook, .button-facebook.disabled:hover, .button-facebook[disabled]:hover, fieldset[disabled] .button-facebook:hover, .button-facebook.disabled:focus, .button-facebook[disabled]:focus, fieldset[disabled] .button-facebook:focus, .button-facebook.disabled:active, .button-facebook[disabled]:active, fieldset[disabled] .button-facebook:active, .button-facebook.disabled.active, .button-facebook[disabled].active, fieldset[disabled] .button-facebook.active {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2)
}

.button-facebook .badge {
    color: #3b5998;
    background-color: #fff
}

.nowrapText {
    overflow: visible;
}

.font14 {
    font-size: 14px;
}

.language {
    color: #000000;
    font-size: 80%;
    cursor: pointer;
    text-align: center;
}

.language:hover {
    text-decoration: underline;
}

.bgHome {
    background-image: url('../images/bg_home.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bgQuestionMarks {
    background-image: url('../images/bg_question_marks.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.gameHeader {
    color: #FFFFFF;
    font-weight: bolder;
    padding-top: 40px;
}

.gameSubHeader {
    color: #FFFFFF;
}

.tabs-top > .tabs, .tabs.tabs-top {
    top: 44px;
!important;
}

.contest-team {
    width: 45%;
}

.contests-scroll {
    height: 100%;
}

.button.item.quiz-normal-answer {
    margin-bottom: 30px;
    font-size: 18px;
}

.button.item.quiz-long-answer {
    margin-bottom: 30px;
    font-size: 14px;
}

.menu-avatar-ltr {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 5px;
}

.menu-avatar-rtl {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 5px;
}

.menu-xp-ltr {
    position: absolute;
    top: 0px;
    right: 60px;
    z-index: 500;
    display: block;
}

.menu-xp-rtl {
    position: absolute;
    top: 0px;
    left: 60px;
    z-index: 500;
    display: block
}

.menu-xp-menu-open {
    display: none;
}

.roundedButtons {
    border-radius: 25%;
}

.button-3d {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.button-3d-assertive {
    -webkit-box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
}

.button-3d-assertive:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 6px rgba(0, 0, 0, .9);
}

.button-3d-positive {
    -webkit-box-shadow: 0px 9px 0px rgba(35, 48, 146, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 9px 0px rgba(35, 48, 146, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    box-shadow: 0px 9px 0px rgba(35, 48, 146, 1), 0px 9px 25px rgba(0, 0, 0, .7);
}

.button-3d-positive:active {
    -webkit-box-shadow: 0px 3px 0px rgba(35, 48, 146, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px rgba(35, 48, 146, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    box-shadow: 0px 3px 0px rgba(35, 48, 146, 1), 0px 3px 6px rgba(0, 0, 0, .9);
}

.button-3d-calm {
    -webkit-box-shadow: 0px 9px 0px rgba(10, 169, 216, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 9px 0px rgba(10, 169, 216, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    box-shadow: 0px 9px 0px rgba(10, 169, 216, 1), 0px 9px 25px rgba(0, 0, 0, .7);
}

.button-3d-calm:active {
    -webkit-box-shadow: 0px 3px 0px rgba(10, 169, 216, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px rgba(10, 169, 216, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    box-shadow: 0px 3px 0px rgba(10, 169, 216, 1), 0px 3px 6px rgba(0, 0, 0, .9);
}

.button-3d-normal {
    -webkit-box-shadow: 0px 9px 0px rgba(221, 221, 221, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 9px 0px rgba(221, 221, 221, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    box-shadow: 0px 9px 0px rgba(221, 221, 221, 1), 0px 9px 25px rgba(0, 0, 0, .7);
}

.button-3d-normal:active {
    -webkit-box-shadow: 0px 3px 0px rgba(221, 221, 221, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px rgba(221, 221, 221, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    box-shadow: 0px 3px 0px rgba(221, 221, 221, 1), 0px 3px 6px rgba(0, 0, 0, .9);
}

.button-3d-balanced {
    -webkit-box-shadow: 0px 9px 0px rgba(37, 148, 68, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 9px 0px rgba(37, 148, 68, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    box-shadow: 0px 9px 0px rgba(37, 148, 68, 1), 0px 9px 25px rgba(0, 0, 0, .7);
}

.button-3d-balanced:active {
    -webkit-box-shadow: 0px 3px 0px rgba(37, 148, 68, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px rgba(37, 148, 68, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    box-shadow: 0px 3px 0px rgba(37, 148, 68, 1), 0px 3px 6px rgba(0, 0, 0, .9);
}

.btn {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #b8b12b);
    background-image: -moz-linear-gradient(top, #d93434, #b8b12b);
    background-image: -ms-linear-gradient(top, #d93434, #b8b12b);
    background-image: -o-linear-gradient(top, #d93434, #b8b12b);
    background-image: linear-gradient(to bottom, #d93434, #b8b12b);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}