@viewport {
    orientation: portrait;
}

label.item.has-error {
    border-bottom: 2px solid red;
}

label.item.has-error-lr {
    border-left: 2px solid red;
    border-right: 2px solid red;
}

label.item.valid-lr {
    border-left: 2px solid green;
    border-right: 2px solid green;
}

.form-errors {
    margin: 5px 0
}

.form-error {
    padding: 2px 0 2px 16px;
    color: red;
}

.blink {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: step-end;
    -webkit-animation-iteration-count: 2;
    animation-name: blink;
    anmation-duration: 1s;
    animation-timing-function: step-end;
    animation-iteration-count: 2;
}

@-webkit-keyframes blink {
    50% {
        visibility: hidden
    }
    100% {
        visibility: visible;
    }
}

@keyframes blink {
    50% {
        visibility: hidden
    }
    100% {
        visibility: visible;
    }
}

.center {
    text-align: center;
}

.question-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.translate-cloak {
    display: none;
}

.ltr {
    direction: ltr;
    text-align: left;
}

.rtl {
    direction: rtl;
    text-align: right;
}

.item-radio input[type="radio"] {
    display: none;
}

.button-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2)
}

.button-facebook:hover, .button-facebook:focus, .button-facebook:active, .button-facebook.active, .open > .dropdown-toggle.button-facebook {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2)
}

.button-facebook:active, .button-facebook.active, .open > .dropdown-toggle.button-facebook {
    background-image: none
}

.button-facebook.disabled, .button-facebook[disabled], fieldset[disabled] .button-facebook, .button-facebook.disabled:hover, .button-facebook[disabled]:hover, fieldset[disabled] .button-facebook:hover, .button-facebook.disabled:focus, .button-facebook[disabled]:focus, fieldset[disabled] .button-facebook:focus, .button-facebook.disabled:active, .button-facebook[disabled]:active, fieldset[disabled] .button-facebook:active, .button-facebook.disabled.active, .button-facebook[disabled].active, fieldset[disabled] .button-facebook.active {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2)
}

.button-facebook .badge {
    color: #3b5998;
    background-color: #fff
}

.nowrapText {
    overflow: visible;
}

.language {
    color: #000000;
    font-size: 80%;
    cursor: pointer;
    text-align: center;
}

.language:hover {
    text-decoration: underline;
}

.bgHome {
    background-image: url('../images/bg_home.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bgQuestionMarks {
    background-image: url('../images/bg_question_marks.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.gameHeader {
    color: #FFFFFF;
    font-weight: bolder;
    padding-top: 40px;
}

.gameSubHeader {
    color: #FFFFFF;
}

.tabs-top > .tabs, .tabs.tabs-top {
    top: 44px;
!important;
}

.contest-team {
    width: 45%;
}

.contests-scroll {
    height: 100%;
}

.button.item.quiz-normal-answer {
    margin-bottom: 30px;
    font-size: 18px;
}

.button.item.quiz-long-answer {
    margin-bottom: 30px;
    font-size: 14px;
}

.menu-avatar-ltr {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 5px;
}

.menu-avatar-rtl {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 5px;
}

.menu-xp-ltr {
    position: absolute;
    top: 0px;
    right: 50px;
    z-index: 500;
    display: block;
}

.menu-xp-rtl {
    position: absolute;
    top: 0px;
    left: 50px;
    z-index: 500;
    display: block
}

.menu-xp-menu-open {
    display: none;
}

.roundedButtons {
    border-radius: 25%;
}

.button-3d {
    padding: 6px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
    font-family: Arial;
    color: #ffffff !important;
    font-size: 14px;
}

.button-3d:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(top, #468CCF, #63B8EE);
    background: -ms-linear-gradient(top, #468CCF, #63B8EE);
    background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
    background: -moz-linear-gradient(top, #468CCF, #63B8EE);
}

.button-3d-assertive {
    -webkit-box-shadow: 1px 1px 1px #BEE2F9;
    -moz-box-shadow: 1px 1px 1px #BEE2F9;
    background: #EF473A;
    background: linear-gradient(top, #EF473A, #A33028);
    background: -ms-linear-gradient(top, #EF473A, #A33028);
    background: -webkit-gradient(linear, left top, left bottom, from(#EF473A), to(#A33028));
    background: -moz-linear-gradient(top, #EF473A, #A33028);
}

.button-3d-positive {
    color: #000000 !important;
    box-shadow: 1px 1px 1px #BEE2F9;
    -webkit-box-shadow: 1px 1px 1px #BEE2F9;
    -moz-box-shadow: 1px 1px 1px #BEE2F9;
    padding: 6px 5px !important;
    border: 1px solid #3866A3;
    background: #EF473A;
    background: linear-gradient(top, #F5EE87, #C7C16D);
    background: -ms-linear-gradient(top, #F5EE87, #C7C16D);
    background: -webkit-gradient(linear, left top, left bottom, from(#F5EE87), to(#C7C16D));
    background: -moz-linear-gradient(top, #F5EE87, #C7C16D);
}

.button-3d-calm {
    box-shadow: 1px 1px 1px #BEE2F9;
    -webkit-box-shadow: 1px 1px 1px #BEE2F9;
    -moz-box-shadow: 1px 1px 1px #BEE2F9;
    background: #EF473A;
    background: linear-gradient(top, #878787, #4F4F4F);
    background: -ms-linear-gradient(top, #878787, #4F4F4F);
    background: -webkit-gradient(linear, left top, left bottom, from(#878787), to(#4F4F4F));
    background: -moz-linear-gradient(top, #878787, #4F4F4F);
}

.button-3d-normal {
    box-shadow: 1px 1px 1px #BEE2F9;
    -webkit-box-shadow: 1px 1px 1px #BEE2F9;
    -moz-box-shadow: 1px 1px 1px #BEE2F9;
    background: #EF473A;
    background: linear-gradient(top, #C4C4C4, #878787);
    background: -ms-linear-gradient(top, #C4C4C4, #878787);
    background: -webkit-gradient(linear, left top, left bottom, from(#C4C4C4), to(#878787));
    background: -moz-linear-gradient(top, #C4C4C4, #878787);
}

.button-3d-balanced {
    box-shadow: 1px 1px 1px #BEE2F9;
    -webkit-box-shadow: 1px 1px 1px #BEE2F9;
    -moz-box-shadow: 1px 1px 1px #BEE2F9;
    padding: 6px 5px !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #3866A3;
    background: #EF473A;
    background: linear-gradient(top, #33CD5F, #2DB554);
    background: -ms-linear-gradient(top, #33CD5F, #2DB554);
    background: -webkit-gradient(linear, left top, left bottom, from(#33CD5F), to(#2DB554));
    background: -moz-linear-gradient(top, #33CD5F, #2DB554);
}

.featureLockedText {
    font-size: 14px;
    color: red;
}

.pointer {
    cursor: pointer;
}

.my-item-note-left {
    float: left;
    color: #aaa;
    font-size: 14px;
}

.my-item-note-right {
    float: right;
    color: #aaa;
    font-size: 14px;
}

.my-toggle-rtl-fix {
    margin: -45px;
}

.contest-or-between-teams {
    padding-top: 4px;
}